.header {
    padding: 40px 60px;

}
.spellingbeetitle {
    font-size: 42px;
    padding: 10px 10px;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
}

.date {
    font-size: 28px;
    padding: 10px 10px;
    font-weight:100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.author{
    padding: 10px 10px;
    font-size:15px;
}

hr{
    color: lightgray
}

.container{
    display:flex;
    padding: 40px 60px;
}

.wordlecontainer{
    flex:1;
    padding-left:120px;
    
}

#hexagon-container {
    position: relative;
    background-color:pink;
    
  }

.guessescontainer{
    flex:1;
}

.input{
    width:290px;
    height:40px;
    outline-color:transparent;
    text-align:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    color:gray;
    

}

input:focus::placeholder {
    color: transparent;
    
  }

  input:focus {
    outline:none;
    border:none
    
  }

  .hexagon {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #E7E7E7;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 23.09px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 23.09px solid #64C7CC;
}

.hexagon:nth-child(1) { top: 50; left: 90px; }
.hexagon:nth-child(2) { top: 100px; left: 180px; }
.hexagon:nth-child(3) { top: 200px; left: 180px; }
.hexagon:nth-child(4) { top: 250px; left: 90px; }
.hexagon:nth-child(5) { top: 200px; left: 0px; }
.hexagon:nth-child(6) { top: 100px; left: 0px; }
.hexagon:nth-child(7) { top: 150px; left: 90px; }

.rank{
    padding-bottom: 20px;
    font-weight:400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.foundwordscontainer{
    padding-right:40px;
    padding-top:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;

}

.foundwords{
    padding-top:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}


.node {
    width: 8px;  /* Width of the node */
    height: 8px;  /* Height of the node */
    background-color: lightgray;
    border-radius: 50%;  /* Make the node circular */
    position: relative;  /* Positioning the nodes along the hr */

}
.yellownode {
    width: 8px;  /* Width of the node */
    height: 8px;  /* Height of the node */
    background-color: #f7da21;
    border-radius: 50%;  /* Make the node circular */
    position: relative;  /* Positioning the nodes along the hr */

}
.progressbar{
    position:relative;
}
.progressline{
    width:100%;
    top:3px;
    height:2px;
    background-color: lightgray;
    position: absolute;

}

.scorebubble{
    width: 30px;
    height:30px;
    border-radius:50%;
    position: absolute;
    background-color:#f7da21;
    top: -11px; 
    left: -11px; 
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
    font-weight:500;
    line-height:30px;

}

.node:nth-child(1) { position:absolute; top: 0px; left: 0%; }
.node:nth-child(2) { position:absolute; top: 0px; left: 12.5%; }
.node:nth-child(3) { position:absolute; top: 0px; left: 25%; }
.node:nth-child(4) { position:absolute; top: 0px; left: 37.5%; }
.node:nth-child(5) { position:absolute; top: 0px; left: 50%; }
.node:nth-child(6) { position:absolute; top: 0px; left: 62.5%; }
.node:nth-child(7) { position:absolute; top: 0px; left: 75%; }
.node:nth-child(8) { position:absolute; top: 0px; left: 87.5%; }
.node:nth-child(9) { position:absolute; top: 0px; left: 100%; }

